<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="login-page">
	<div class="row"> 
        <!-- <div class=""> 
			<h1>Omnitude <small>Blockchain Explorer</small></h1>

                <div style="width: 100%; display: flex">
                <ul class="list-group block-list">
                    <li ng-repeat="block in blocks" class="list-group-item block-list-item" ng-class="{'selected-item':hovering}"
                        ng-mouseenter="hovering=true"
                        ng-mouseleave="hovering=false"
                        ng-click='selectBlock(block.blockNumber)'>
                        <div style="display: flex">
                            <div class="block-icon" style="width:30px">
                                <span style="color: #343644; font-size: 20px" ><b>block</b></span>
                                <span style="color: #343644; font-size: 20px" ><b>{{block.blockNumber}}</b></span> 
                            </div>
                            <div class="block-item-entries">
                                <ul style="text-align: left">
                                    <li class="block-item-entry"><label>Data Hash: </label> {{block.dataHash}}</li>
                                    <li class="block-item-entry"><label>Hash: </label> {{block.hash}}</li>
                                    <li class="block-item-entry"><label>Previous Hash: </label> {{block.previousHash}}</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="list-group trx-list">
                    <li ng-repeat="trx in trxs" class="list-group-item trx-list-item">
                        <div style="display: flex">
                            <div class="block-icon" style="width:30px">
                                <span style="color: #343644; font-size: 20px" ><b>trx</b></span>
                            </div>
                            <div class="trx-item-entries">
                                <ul style="text-align: left">
                                    <li class="trx-item-entry"><label>TRX Id: </label> {{trx.transactionId}}</li>
                                    <li class="trx-item-entry"><label>tStamp: </label> {{trx.timeStamp}}</li>
                                    <li class="trx-item-entry"><label>TRX Name: </label> {{trx.trxName}}</li>
                                    <li ng-if="trx.trxName == 'updateReplenishmentRequestStatus'" class="trx-item-entry-child"><label> Replenishment Requet Id: </label> {{trx.trxInfo.replenishmentRequestId}}</li>
                                    <li ng-if="trx.trxName == 'updateReplenishmentRequestStatus'" class="trx-item-entry-child"><label> New Status: </label> {{trx.trxInfo.newStatus}}</li>
                                    <li ng-if="trx.trxName == 'createReplenishmentRequest'" class="trx-item-entry-child"><label> Replenishment Requet Id: </label> {{trx.trxInfo.replenishmentRequestId}}</li>
                                    <li ng-if="trx.trxName == 'createReplenishmentRequest'" class="trx-item-entry-child"><label> Product Id: </label> {{trx.trxInfo.productId}}</li>
                                    <li ng-if="trx.trxName == 'createReplenishmentRequest'" class="trx-item-entry-child"><label> Product Label: </label> {{trx.trxInfo.productLabel}}</li>
                                    <li ng-if="trx.trxName == 'createReplenishmentRequest'" class="trx-item-entry-child"><label> Product Quantity: </label> {{trx.trxInfo.quantity}}</li>
                                    <li ng-if="trx.trxName == 'createReplenishmentRequest'" class="trx-item-entry-child"><label> CS Card Ref: </label> {{trx.trxInfo.csCartReference}}</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

                </div>

 
		</div> -->
    </div>
    

 <!-- ////////////////////////////////////////////////////////////////////////////-->
 <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow"
 role="navigation" data-menu="menu-wrapper">
   <div class="navbar-container main-menu-content" data-menu="menu-container">

       <a class="navbar-brand" href="index.html">
         <img class="brand-logo" alt="modern admin logo" src="app-assets/images/logo/logo-omnitude.png">

       </a>

     <!-- <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
       <li class="dropdown nav-item" data-menu="dropdown">
         <a class="dropdown-toggle nav-link" href="index.html" data-toggle="dropdown"><i class="la la-home"></i>
           <span>CRM</span>
         </a>


       </li>
       <li class="dropdown nav-item" data-menu="dropdown">
         <a class="dropdown-toggle nav-link" href="index.html" data-toggle="dropdown"><i class="la la-home"></i>
           <span>ERP</span>
         </a>


       </li>

       <li class="dropdown nav-item" data-menu="dropdown">
         <a class="dropdown-toggle nav-link" href="index.html" data-toggle="dropdown"><i class="la la-home"></i>
           <span>Console</span>
         </a>


       </li>

       <li class="dropdown nav-item" data-menu="dropdown">
         <a class="dropdown-toggle nav-link" href="index.html" data-toggle="dropdown"><i class="la la-home"></i>
           <span>Settings</span>
         </a>


       </li>
       <li class="dropdown nav-item" data-menu="dropdown">
         <a class="dropdown-toggle nav-link" href="index.html" data-toggle="dropdown"><i class="la la-home"></i>
           <span>About</span>
         </a>


       </li>


         </ul> -->
       </li>
     </ul>
   </div>
 </div>
 <div class="app-content content">
   <div class="content-wrapper">
     <div class="content-header row">
       <div class="content-header-left col-md-6 col-12 mb-2">
         <h3 class="content-header-title">Hyperledger Admin Viewer Console</h3>

       </div>

     </div>
     <div class="content-body">

       <!-- Basic Tables start -->
       <div class="row">
         <div class="col-7">
           <div class="card">
             <div class="card-header">
               <h4 class="card-title">Blocks</h4>
               <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
               <div class="heading-elements">
                 <ul class="list-inline mb-0">

                 </ul>
               </div>
             </div>
             <div class="card-content collapse show">
               <div class="card-body">

                 <div class="table-responsive">
                   <table class="table">
                     <thead>
                       <tr>
                         <th>Block #</th>
                         <th>Chain</th> 

                       </tr>
                     </thead>
                     <tbody>
                       <tr ng-repeat="block in blocks"   
                       ng-class="{'selected-item':hovering}"    
                       ng-mouseenter="hovering=true"
                       ng-mouseleave="hovering=false"
                       ng-click='selectBlock(block.blockNumber)'>
                         <th scope="row">  
                             <div class="alert alert-primary" role="alert">
                             <strong>Block #</strong> {{block.blockNumber}}<br>
                            <strong>Timestamp: </strong> {{block.envelopeInfo[0].timestamp}}<br/>
                           </div></th>
                         <td><strong>Hash:</strong>{{block.hash}}
                        <br/><strong>Previous Hash:</strong>{{block.previousHash}}
                        </td> 
 
                       </tr>
                       <!-- <tr>
                         <th scope="row">  <div class="alert alert-primary" role="alert">
                             <strong>Block</strong> 588388<br>
                             > 42 secs ago
                           </div></th>
                         <td>Jacob</td>
                         <td>159 txns in 75 secs</td>

                       </tr>
                       <tr>
                         <th scope="row">  <div class="alert alert-primary" role="alert">
                             <strong>Block</strong> 881685<br>
                             > 42 secs ago
                           </div></th>
                         <td>Larry</td>
                         <td>159 txns in 75 secs</td>

                       </tr> -->
                     </tbody>
                   </table>
                 </div>
               </div>

             </div>
           </div>
         </div>
         <div class="col-5" >
           <div class="card" style="position:fixed;top:100;left:600;">
             <div class="card-header" >
               <h4 class="card-title">Transactions</h4>
               <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
               <div class="heading-elements">
                 <ul class="list-inline mb-0">

                 </ul>
               </div>
             </div>
             <div class="card-content collapse show">
               <div class="card-body">


                 <div class="table-responsive">
                   <table class="table">
                     <thead>
                       <tr>
                         <th> </th> 

                       </tr>
                     </thead>
                     <tbody>
                       <tr ng-repeat="trx in trxs">
                         <td scope="row">
                            <h5>TX#{{trx.transactionId}}</h5>
                            <br/><label>{{trx.trxName}}</label>
                            <br/><label>{{trx.timeStamp}}</label>
                         
                            <br/><strong ng-if="trx.trxName == 'updateReplenishmentRequestStatus'" > &gt;&gt; {{trx.trxInfo.newStatus}}</strong>
                            <ul> 
                                <li ng-if="trx.trxName == 'createReplenishmentRequest'"><label> Replenishment Requet Id: </label> {{trx.trxInfo.replenishmentRequestId}}</li>
                                <li ng-if="trx.trxName == 'createReplenishmentRequest'"><label> Product Id: </label> {{trx.trxInfo.productId}}</li>
                                <li ng-if="trx.trxName == 'createReplenishmentRequest'"><label> Product Label: </label> {{trx.trxInfo.productLabel}}</li>
                                <li ng-if="trx.trxName == 'createReplenishmentRequest'"><label> Product Quantity: </label> {{trx.trxInfo.quantity}}</li>
                                <li ng-if="trx.trxName == 'createReplenishmentRequest'"><label> CS Card Ref: </label> {{trx.trxInfo.csCartReference}}</li>
                            </ul> 
                        </td>
                          
                       </tr>
                      
                     </tbody>
                   </table>
                 </div>
               </div>

             </div>
           </div>
         </div>
       </div>
       <!-- Basic Tables end -->


     </div>
   </div>
 </div>




  <div>
    <img style="position:fixed;left:50%;top:50%;" id="mySpinner" src="images/spinner2.gif" ng-show="getLoading()" />
  </div>

</div>
