<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="login-page">
	<div class="row">
		<!--div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4"-->
        <div class="">
        	<!--img src="images/flat-avatar.png" class="user-avatar" /-->
			<h1>Omnitude <small>Blockchain Explorer</small></h1>
			<form role="form" ng-submit="login()">

                <div style="width: 100%; display: flex">
                <ul class="list-group block-list">
                    <li ng-repeat="block in blocks" class="list-group-item block-list-item" ng-class="{'selected-item':hovering}"
                        ng-mouseenter="hovering=true"
                        ng-mouseleave="hovering=false">
                        <div style="display: flex">
                            <div class="block-icon" style="width:30px">
                                <span style="color: #343644; font-size: 20px" ><b>block</b></span>
                                <span style="color: #343644; font-size: 20px" ><b>{{block.blockNumber}}</b></span>
                                <!--span style="color: #343644; font-size: 50px" class="glyphicon glyphicon-link bg-fade"></span-->
                            </div>
                            <div class="block-item-entries">
                                <ul style="text-align: left">
                                    <li class="block-item-entry"><label>Data Hash: </label> {{block.dataHash}}</li>
                                    <li class="block-item-entry"><label>Hash: </label> {{block.hash}}</li>
                                    <li class="block-item-entry"><label>Previous Hash: </label> {{block.previousHash}}</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="list-group trx-list">
                    <li ng-repeat="block in blocks" class="list-group-item trx-list-item">
                        <div style="display: flex">
                            <div class="block-icon" style="width:30px">
                                <span style="color: #343644; font-size: 20px" ><b>trx</b></span>
                            </div>
                            <div class="trx-item-entries">
                                <ul style="text-align: left">
                                    <li class="trx-item-entry"><label>Block Id: </label> {{block.blockNumber}}</li>
                                    <li class="trx-item-entry"><label>Data Hash: </label> {{block.dataHash}}</li>
                                    <li class="trx-item-entry"><label>Hash: </label> {{block.hash}}</li>
                                    <li class="trx-item-entry"><label>Previous Hash: </label> {{block.previousHash}}</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

                </div>



                <!-- div class="form-content">
                    <div class="form-group">
                        <input ng-model="credentials['username']" ng-change="checkInput()" type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input ng-model="credentials['password']" ng-change="checkInput()" type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                </div>

                <button type="submit" ng-model="loginDisabled" ng-disabled="getLoginDisabled()" class="btn btn-white btn-outline btn-lg btn-rounded">Login</button-->

			</form>

		</div>
	</div>

  <div>
    <img style="position:fixed;left:50%;top:50%;" id="mySpinner" src="images/spinner2.gif" ng-show="getLoading()" />
  </div>

</div>
